.container {
    box-sizing: border-box;
    width: 25%;
    padding: 20px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, rgba(0, 102, 55, 0.54), #80d997 57%, #9dea96);
    color: #FFFFFF;
    height: 100vh;
    position: fixed;
}

.head {
    display: grid;
    grid-template-columns: 1fr 60px;
    margin-bottom: 20px;
}

.name {
    margin: auto 0;
    font-size: 22px;
    font-weight: 500;
}

.icon {
    background-color: #FFFFFF;
    border: #000000;
    height: 50px;
    width: 50px;
}

.progress {
    display: grid;
    grid-template-columns: 1fr;
}

.progressRaw {
    display: grid;
    grid-template-columns: 50px 1fr;
    z-index: 1;
}

.statusCircle {
    display: grid;
    background-color: #FFFFFF;
    margin: 5px 0;
    border-radius: 50px;
    border: #6100ee solid 3px;
    width: 50px;
    height: 50px;
    font-weight: 600;
    color: #6100ee;
}

.statusCircle.active {
    background-color: #6100ee;
}

.statusCircle > div {
    margin: auto;
}

.status {
    margin: auto 20px;
    font-size: 20px;
    font-weight: 500;
}

#line {
    position: absolute;
    grid-row-start: 1;
    grid-row-end: 13;
    height: 510px;
    width: 0px;
    border-left: 3px dotted #FFFFFF;
    left: 48px;
    top: 130px;
}

.submenu {
    display: grid;
    min-height: 0;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    font-size: 16px;
    font-weight: 300;
}

.submenu.active {
    min-height: 100px;
    height: auto;
    transition: 0.5s;
}

.paanel {
    width: 100%
}

.submenuRaw {
    display: grid;
    grid-template-columns: 58px 1fr;
    margin: auto 0;
    z-index: 1;
}

.submenuCircle {
    border: #6100ee solid 2px;
    background-color: #FFFFFF;
    border-radius: 50px;
    height: 6px;
    width: 6px;
    margin: auto;
}

.submenuLabel {
    margin-left: 10px;
}

.button {
    border-radius: 0;
    background-color: #6100ee;
    position: absolute;
    padding: 5px 15px;
    bottom: 20px;
}

.mat-button {
    vertical-align: middle;
}

.left {
    transform: rotate(90deg);
    height: 20px;
    vertical-align: middle;
}

.tree {
    width: 200%;
    position: relative;
    left: -100%;
    bottom: 20%;
    z-index: -1;
}
