<div class="content">
    <div class="current-filter">
        <div class="filter-title">
            <p>Материалы по фильтрам</p>
        </div>
        <div class="filters-value">
            <p class="test">Фильтр 1</p>
            <p class="test">Фильтр 2</p>
            <p class="test">Фильтр 3</p>
        </div>
    </div>
    <div class="create-module ">
        <input type="button" value="Создать материал" class="create-module-input">
    </div>
    <div class="module ">
        Тест
    </div>
</div>