<div class="content">
    <div class="current-filter">
        <div class="header">Доступные материалы</div>
        <div class="filters">
            <h4>Фильтры:</h4>
            <h5 *ngFor="let tag of tags" class="test">{{tag}}<img (click)="removeTag(tag)" src="../../../assets/icons/plus.svg"></h5>
        </div>
    </div>
    <div class="create-module ">
        <button class="create-module-input" routerLink="create/firstStep" (click)="onClick()">Создать модуль<img src="../../../assets/icons/plus-white.svg"></button>
    </div>
    <div class="modules">
        <div class="module" [attr.grad]="getBackground(i)" *ngFor="let module of modules; index as i" [routerLink]="['create/firstStep', module.id]" routerLinkActive="router-link-active">
            <div class="top">
                <div class="status">
                    <div class="circle" [style.background-color]="getColor(module.status)"></div>{{getStatus(module.status)}}</div>
                <div class="last">Последнее редактирование:</div>
                <div class="last">{{getDate(module)}}</div>
                <div class="image">
                    <img src="../../../assets/icons/{{getIcon(module.id)}}">
                </div>
            </div>
            <div class="header">Название: {{module.title}}</div>
        </div>
    </div>
</div>