<div class="form">
    <div style="grid-row: 1;" class="header"><span>Шаг 1.2:</span>&nbsp;Заполните формы ниже</div>
    <div class="area">
        <div class="commentArea" *ngIf="commentMap.has('generalMeaning')">
            <div class="comment">
                {{commentMap.get('generalMeaning').message}}
            </div>
            <div id="buttons">
                <button comment matButton (click)="doneComment(commentMap.get('generalMeaning'))">Исправлено</button>
                <button comment gray matButton>Не согласен</button>
            </div>
        </div>
        <label>Общий замысел модуля</label>
        <textarea required [(ngModel)]="teacher.generalMeaning"></textarea>
    </div>
    <div class="area">
        <div class="commentArea" *ngIf="commentMap.has('challenges')">
            <div class="comment">
                {{commentMap.get('challenges').message}}
            </div>
            <div id="buttons">
                <button comment matButton (click)="doneComment(commentMap.get('challenges'))">Исправлено</button>
                <button comment gray matButton>Не согласен</button>
            </div>
        </div>
        <label>Типовое распределение заданий по урокам</label>
        <textarea required [(ngModel)]="teacher.challenges"></textarea>
    </div>
    <div class="area">
        <div class="commentArea" *ngIf="commentMap.has('exercisesByLessons')">
            <div class="comment">
                {{commentMap.get('exercisesByLessons').message}}
            </div>
            <div id="buttons">
                <button comment matButton (click)="doneComment(commentMap.get('exercisesByLessons'))">Исправлено</button>
                <button comment gray matButton>Не согласен</button>
            </div>
        </div>
        <label>Возможные трудности, ложные представления и способы их преодоления</label>
        <textarea required placeholder="Опишите, как данный модуль позволит достичь заявленной учебной цели" [(ngModel)]="teacher.exercisesByLessons"></textarea>
    </div>

    <div class="buttons">
        <div>
            <button mat-button [routerLink]="['../../firstStep', id]" routerLinkActive="router-link-active" (click)="onClickBack()">Перейти к предыдущему шагу</button>
        </div>

        <div>
            <button right mat-button (click)="onClickNext()">Перейти к следующему шагу</button>
        </div>
    </div>
</div>