.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 75%;
}

.tab-menu {
    grid-column: 1;
    background-image: linear-gradient(to bottom, #74ac92, #80d997 57%, #9dea96);
    color: #FFFFFF;
    padding: 0 20px;
    font-size: 20px;
}

.content {
    grid-column: 2;
}