.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 25%);
}

.tab-menu {
    grid-column: 1;
    border: solid 1px #979797;
    background: #d8d8d8;
}

.content {
    grid-column: 2;
}