<p class="my-module"> Мои модули</p>
<div class="search">
    <input type="text" class="search-input" placeholder="поиск">
</div>
<div>
    <h4>По статусу:</h4>
    <p>Готовые материалы</p>
    <p>Материалы на проверке</p>
    <p>Внести правки</p>
    <p>Незавершенные материалы</p>
</div>
<div>
    <h4>Фильтры:</h4>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select>
            <mat-option>
                Test
            </mat-option>
        </mat-select>
    </mat-form-field> -->
    <button class="" (click)="onClick()">На главную</button>
</div>