<div class="form">
    <div style="grid-row: 1;" class="header"><span>Шаг 1.1:</span>&nbsp;Основная информация</div>
    <div style="grid-row: 2;" class="name">
        <label>Название</label>
        <input type="text" required placeholder="Введите название модуля" [(ngModel)]="module.title">
    </div>
    <div style="grid-row: 3;" class="general">
        <div class="levels">
            <label>Уровень видимости</label>
            <mat-radio-group aria-label="Уровень видимости" [(ngModel)]="visibility">
                <mat-radio-button value="School">Школьный</mat-radio-button>
                <mat-radio-button value="Personal">Персональный</mat-radio-button>
                <mat-radio-button value="Global">Глобальный</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="info">
            <div>
                <label>Класс</label>
                <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="class">
                        <mat-option value="1">
                            1
                        </mat-option>
                        <mat-option value="2">
                            2
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <label>Предмет</label>
                <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="module.course">
                        <mat-option value="кек">
                            "Kek"
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div style="grid-row: 4; display: grid; grid-template-columns: 50% 50%; width: 100%;">
        <div class="tags">
            <label>Теги</label>
            <input type="" placeholder="Добавьте теги для модуля" [(ngModel)]="tag">
            <div class="tag" #forTagInTags>
                <div>NAG</div>
            </div>
        </div>
        <div class="latency">
            <label>Трудоемкость</label>
            <input type="" placeholder="Сколько времени затратит ученик" [(ngModel)]="time">
        </div>
    </div>
    <div class="idea">
        <label>Базовая идея</label>
        <textarea matInput required [(ngModel)]="module.basicIdea">Главная мысль, в понимание которой вносит вклад этот модуль</textarea>
    </div>
    <div class="problem">
        <label>Проблемный вопрос</label>
        <textarea required [(ngModel)]="module.problemQuestion">Сложный вопрос, ответить на который будет возможно после прохождения модуля</textarea>
    </div>
    <div *ngIf="id === null;else putModule">
        <button mat-button class="button" (click)="onClickCreate()">
            Перейти к следующему шагу
            <img class="right" src="../../../assets/icons/down-arrow.svg">
        </button>
    </div>
    <ng-template #putModule>
        <button mat-button class="button" (click)="onClickPut()">
            Перейти к следующему шагу
            <img class="right" src="../../../assets/icons/down-arrow.svg">
        </button>
    </ng-template>
</div>