.form {
    margin: 20px;
    margin-top: 40px;
}

.header {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
}

.name input {
    margin-top: 10px;
    padding: 13px;
    font-size: 16px;
    border: #CACACA solid 1px;
}

.workspace {
    display: grid;
}

.header>span {
    font-weight: 600;
}

label {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
}

label[for] {
    font-weight: 400;
}

input[type="text"] {
    width: 100%;
}

.general {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 50% 50%;
}

mat-radio-group {
    margin-top: 10px;
}

::ng-deep mat-form-field {
    width: 100%;
    margin-top: 10px;
}

::ng-deep mat-radio-button {
    width: 100%;
    margin-top: 20px;
}

.levels {
    grid-column: 1;
}

.info {
    grid-column: 2;
}

.tags {
    grid-column: 1;
    width: 100%;
    padding-right: 50px;
    box-sizing: border-box;
}

.tag {
    display: inline-block;
    width: max-content;
    margin-right: 8px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #628dff;
    font-weight: 500;
    color: #FFFFFF;
}

.tag > img {
    cursor: pointer;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.tags input,
.latency input,
.idea > textarea,
.problem > textarea {
    margin: 20px 0;
    padding: 13px;
    font-size: 16px;
    border: #CACACA solid 1px;
    width: 100%;
}

.latency {
    grid-column: 2;
}

.button {
    border-radius: 0;
    background-color: #6100ee;
    margin: 20px 0;
    color: white;
    padding: 5px 15px;
}

.right {
    height: 20px;
    width: 20px;
    transform: rotate(-90deg);
}

.icon {
    background-color: #FFFFFF;
    border: #000000;
    height: 50px;
    width: 50px;
}

.idea {
    margin-top: 20px;
}

input, textarea {
    box-sizing: border-box;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #6100ee;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #6100ee;
}